@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
        font-family: 'Lora';
        font-weight: 700;
        src: url('./fonts/Lora/static/Lora-Bold.ttf');
    }
    @font-face {
        font-family: 'Montserrat';
        font-weight: 400;
        src: url('./fonts/Montserrat/static/Montserrat-Regular.ttf');
    }
    @font-face {
        font-family: 'DM Mono';
        font-weight: 400;
        src: url('./fonts/dmmono/DMMono-Regular.ttf');
    }
    @font-face {
        font-family: 'DM Mono';
        font-weight: 400;
        font-style: italic;
        src: url('./fonts/dmmono/DMMono-Italic.ttf');
    }
}
